aniso8601==2.0.0
appnope==0.1.0
astroid==2.3.3
autoenv==1.0.0
backcall==0.2.0
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.4.3
commonmark==0.9.1
decorator==4.4.2
et-xmlfile==1.0.1
Flask==1.0
good-first-issues==1.1.0
halo==0.0.30
idna==2.6
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==0.24
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.10
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
log-symbols==0.0.14
MarkupSafe==1.0
mccabe==0.6.1
mysqlclient==1.4.6
openpyxl==3.0.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.7
ptyprocess==0.6.0
Pygments==2.7.1
pylint==2.4.4
PyMySQL==0.9.3
pyperclip==1.8.0
python-dateutil==2.8.1
pytz==2017.3
pyzmq==19.0.2
requests==2.20.0
rich==7.1.0
selenium==3.9.0
six==1.15.0
spinners==0.0.24
tabulate==0.8.7
termcolor==1.1.0
tornado==6.0.4
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.24.2
virtualenv==16.7.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.11.2
